name: CI-Build

on: 
  workflow_dispatch:
    inputs:
      skipTests:
        description: Skip tests?
        default: false
        required: true
        type: boolean
  push:
  pull_request:
  workflow_call:
    inputs:
      mvnArgs:
        type: string
        required: false
    secrets:
      mvnArgs:
        required: false

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
      packages: write
    steps:
    - uses: actions/checkout@v4

    - name: Setup Java JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin

    - name: Handle skip tests
      if: ${{ inputs.skipTests }}
      run: |
        echo "SKIP_TESTS=-DskipTests" >> "$GITHUB_ENV"
        echo "Skipping tests."

    - name: Set current timestamp
      run: echo "BUILD_TS=$(TZ=Europe/Vienna date +%Y%m%d.%H%M%S)" >> "$GITHUB_ENV"

    - name: Build with Maven
      if: ${{ true }}
      working-directory: .
      run: |
        mvn clean install ${{ env.SKIP_TESTS }} --batch-mode ${{ inputs.mvnArgs }} ${{ secrets.mvnArgs }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: . 
        push: true
        tags: ghcr.io/${{ github.repository }}:latest
